# Environment files
.env
.env.*
*.env
*.env.*
!.env.example
!.env.*.example

# Graphify
graphify-out/
.graphify*
*graphify*

# Workspace & IDE files
*.code-workspace
*.workspace
.workspace/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build & Distribution outputs
dist/
dist-ssr/
build/
out/
*.tsbuildinfo

# Dependencies
node_modules/
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System & Cache files
.DS_Store
Thumbs.db
.eslintcache
